body {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    background: #cccccc;
}

#listes {
    display: inline-block;
}

#listes select {
    margin: 5px;
}

#carte {
    display: inline-block;
}

.OK {
    background-image: url(imagens/green-tick.png);
}

.NOK {
    background-image: url(imagens/red-cross.png);
}

#boutons {
    margin-top: 20px;
}

#listePays {
    display: none;
}

.correction {
    display: inline-block;
    height: 15px;
    width: 15px;
}