body {
	background-image: url("../img/fundo1366.jpg");
	background-repeat: no-repeat;
	height: 1200px;
	min-height: 700px;
}

.conteudo {
	width: 70%;
	min-height: 50%;
	position: relative;
	background-color: rgba(0, 32, 128, 0.80);
	margin: auto;
	margin-top: 10%;
	padding: 2% 5%;
	border-radius: 2.5%;
    color: #ffffff;
}

a:link {
	color: #ffffff;
}

a:visited {
	color: #e6e6e6;
}

a:focus {
	background-color: #66e0ff;
	color: #bfbfbf;
}

a:hover {
	color: #cccccc;
}

a:active {
	color: #ff0000;
}

/* *********   Área de definição da navegação  ************  */

nav ul {
	/*border: 2px solid #cccccc;*/
	width: 130%;
	margin-left: -15%;
	margin-top: -5%;
	margin-bottom: 3%;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	color: #ffffff;
	color: #000000;
	padding: .75em;
}

nav ul li a {
	background-color: #88cc00;
	padding: .5em;
	border-radius: .5em;
	font-size: 1.2em;
}

nav ul li a:hover {
	color: #ffffff;
}

nav ul li a:active {
	color: #cecece;
}

/*  *****  Fim da área de navegação  ***************  */

div#container-guitarrista {
    position: absolute;
    right: -5%;
    bottom: -3%;
    width: 15%;
    height: 15*(255/150)%;
}

#guitarrista {
    position: relative;
    width: 100%;
    height: 100%;
}

div.container-logo {
    width: 25%;
    height: 25(174/250)%;
    margin: auto;
}

#logo {
    height: 100%;
    width: 100%;
}

section.conheca-escola {
    margin-bottom: 3%;
}

section#ultimas-noticias {
    margin-bottom: 3%;
    width: 60%;
    border-right: 2px dotted black;
}

div#area-noticias {
    background-color: white;
}

div.caixa {
    width: 50%;
    height: 100px;
    background-color: white;
}


/*   ***********  Área do rodapé  ***************************8******  */

footer {
    bottom: -7.5%;
    width: 100%;
    height: 10%;
    position: absolute;
}


div.info-inst {
    position: relative;
    margin-top: 1%;
}

.info-inst {
    background-color: #88cc00;
    width: 80%;
    padding: 0px;
}

.info-inst h1 {
    font-size: 2em;
    margin-bottom: -1%;
    margin-top: -.5%;
    padding-left: 5%;
}

.info-inst p {
    font-size: 1.2em;
    margin-top: 0px;
    margin-bottom: -.5%;
    padding-left: 5%;
}

.info-inst span#telefone {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 2.5%;
}

.info-inst span#telefone img {
    display: inline;
    vertical-align: center;
}

