@charset "utf-8";

/* cores GV:
verde: #aad303
rgb(170, 211, 3)
hsl(72, 97%, 42%)

azul: 

*/

* {
    box-sizing: border-box;
}

html {
    font-size:100.01%;
}

/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,hr,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfont,thead,tr,th,td{padding:0;margin:0;border:none;outline:none;vertical-align:baseline;font-family:inherit;font-size:100%;}dfn,i,cite,var,address,em{font-style:normal;}th,b,strong,h1,h2,h3,h4,h5,h6{font-weight:normal;}textarea,input,select{font-family:inherit;font-size:1em;}blockquote,q{quotes:none;}q:before,q:after,blockquote:before,blockquote:after{content:'';content:none;}ol,ul{list-style:none;}ins{text-decoration:none;}del{text-decoration:line-through;}table{border-collapse:collapse;border-spacing:0;}caption,th,td{text-align:left;}:focus{outline:none;}

html, body {
    height:100%;
}

body {
    font: .8125em/1.5 Tahoma, Verdana, Geneva, Arial, Helvetica, sans-serif;
    background-image: url("../img/fundoMenor.jpg");
    background-repeat: repeat-y;
    color: #eeeeee;
}

header, 
nav, 
section, 
article, 
aside, 
footer {
    display: block;
}

[class*="col-"] {
    width: 100%;
}

nav a {
    text-decoration: none;
    font-size: 1.2em;
}

nav a:link, a:visited {
    color: #eeeeee;
}

nav a:hover {
    color: #cecece;
}

nav a:active {
    color: #888888;
}


/* Clearfix hack */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.offscreen
{
    position: absolute;
    clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

picture{
    display: inline-block;
    width: auto;
}

.logo {
    float: right;
}

nav ul li a {
    font-size: 1.4em;
}

.menu-top {
    clear: right;
}

.menu-top ul li {
    display: inline-block;
}

.menu-top ul li a {
    margin-left: 10px;
}

.menu-lateral {
    display: none;
}

.ul-GV li a:before, .ul-GV li h2:before, .ul-GV li h3:before {
    content: url("../img/icon-palheta-GV-preta-25px.png");
    margin-right: 10px;
}

main {
    background-color: rgba(0, 51, 204, 0.8);
    padding: 3.5%;
    position: relative;
}

p {
    font-size: 1.2em;
    text-indent: 2em;
}

.conteudo h1 {
    font-size: 1.8em;
}

.conteudo h2 {
    font-size: 1.6em;
    margin-bottom: 10px;
}

.conteudo h3 {
    font-size: 1.4em;
    margin-top: 10px;
}

section:first-child {
    margin-top: 0;
}

section {
    margin-top: 5%;
}

section:last-child {
    margin-bottom: 5%;
}

#destaques h2{
    font-weight: 600;
}

@media only screen and (min-width: 640px) {
    
    /* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
    
    body {
        background-image: url("../img/fundo1366.jpg");
    }
    
    .menu-top {
        display: none;
    }
    
    .logo {
        float: none;
        margin: 0 auto;
    }
    
    #header-logo{
        text-align: center;
    }
    
    .menu-lateral {
        display: block;
        float: left;
        height: 100%;
    }
    
    .menu-lateral ul li a {
        padding-left: 5px;
        vertical-align: top;
        margin-left: 5px;
    }

    .menu-lateral ul li:before{
        content: url("../img/icon-palheta-GV-azul-25px.png");
    }
    
    .menu-lateral li {
        margin-left: -30px;
        margin-top: 10px;
    }
    
    menu-lateral li:first-child {
        margin-top: 0;
    }
    
    
    .conteudo {
        display: block;
        float: left;
        height: 100%;
        margin-top: 0;
    }
    
    main {
        width: 90%;
        margin: auto;
        padding: 0;
    }
}