@charset "utf-8";

* {
    box-sizing: border-box;
}

body {
    font: 100%, "Lucida Sans", Verdana, sans-serif;
    position: relative;
    margin: -22px -2px;
    padding: 10px 20px;
}

header h1 {
    text-align: center;
}

/* *****  menu   **********  */

nav ul {
    margin-left: 0px;
    padding-left: 10px;
    list-style: none;
}

nav ul li {
    margin-left: 0px;
}

nav li a {
    text-decoration: none;
    font-size: 1.2em;
}

fieldset {
	background-color: #cecece;
	border-radius : 10px;
	padding: 10px;
	width: 30%;
}

fieldset ul {
	list-style-type: none;
}

fieldset li {
	margin: 20px;
}

legend {
	color: #ffffff;
	background-color: #323232;
	border-radius: 5px;
	padding: 0.3em 1em;
	margin-left: 12px;
}

label {
	display: inline-block;
	padding: 3px 6px;
	margin-left: -30px;
	text-align: right;
	width: 70px;
	vertical-align: top;
}

table {
	border-collapse: collapse;
}

table th, td {
	font-size: .875em;
	padding: .5em .75em;
	border: 1px solid black;
	text-align: center;
}

table colgroup col#arriere {
	background-color: blue;
	color: white;
}

thead tr {
	background-color: #d5dcef
}

tbody tr:nth-child(odd){
	background-color: #9781b7;
}

tbody tr:nth-child(even){
	background-color: #d5dcef;
}

tr:hover {
	background-color: green !important;
	color: white !important;
}

col:hover {
	background-color:green;
}

/***  Área dos vídeos  ****************/


iframe {
    position: relative;
    width: 80%;
    height: 100%;
    margin: 0 10%;
}

.embedded-video {
    width: 484px;
    height: 320px;
    position: relative;
    /*border: 2px solid green;*/
    background-color: #222;
}

.faixa {
    position: relative;
    display: none;
    width: 10%;
    height: 100%;
}

.faixa button {
    width: 80%;
    height: 20%;
    padding: 0;
    border: none;
    border-radius: 5px;
    text-align: center;
    position: relative;
    top: 40%;
    left: 10%;
    background-color: rgba(210, 224, 224, 0.6);
}

.faixa button:hover {
    cursor: pointer;
}

#faixa-esquerda {
    float: left;
}

#faixa-direita {
    float: right;
}

#videos nav ul li a:hover{
    cursor: pointer;
}

ul.bottom-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 484px;
}

ul.bottom-menu li {
    float: left;
    border-left: 1px solid #fff; 
}

ul.bottom-menu li:first-child {
    border-left: none;
    margin-left: 18%;
}

ul.bottom-menu li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/******       Área da animação   ****************/

.bolinha {
	width : 100px;
	height: 100px;
	border-radius: 50px;
	background-color: red;
	position: relative;
	left: 150px;
	top: 50px;
}

@keyframes quicando {
	0%   {top:0px ; left:0px;}
	50%  {top:100px ; left:150px;}
	100% {top:0px ; left:300px}
}

#container-direita .bolinha {
	background-color: green;
	margin : 0px;
	position: relative;
	animation-name: quicando;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-timing-function: linear;
	animation-iteration-count: 5;
	animation-play-state: paused;
}

button.controle {
	width: 20%;
	font-size: 1em;
	margin-top: 5%;
}

button#restart {
	display: none;
}

section#jogos h1, section#jogos p{
	text-align: center;
}

section#animacao {
    overflow: auto;
}

.container {
	border : 2px solid black;
	width: 450px;
	height: 300px;
	border-radius: 20px;
	float : left;
}

div#container-esquerda {
	clear: left;
}

div#container-direita {
	clear: right;
	margin-left : 100px;
	text-align: center;
}

.caixa {
	background-color: white;
	width: 400px;
	height: 200px;
	margin: 10px auto;
    border: 1px solid black;
}


section#jogos {
    clear: both;
}

.clearfix {
    clear: both;
}

/*#palheta {
    -webkit-transform: rotateY(120deg);
    transform: rotateY(120deg);
}*/

@keyframes giraPalheta {
    0% {-webkit-transform: rotateY(0deg); transform: rotateY(0deg);}
    50% {-webkit-transform: rotateY(180deg); transform: rotateY(180deg);}
    100% {-webkit-transform: rotateY(360deg); transform: rotateY(360deg);}
}

#palheta {
    animation-name: giraPalheta;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: 5;
}

/*****************   MEDIA QUERIES     **********************/

/* Para Smartphones: */
@media only screen and (max-width: 500px){
    
    [class*="col-"] {
        width: 100%;
    }
    
    body {
        margin: 0;
        background-color: #eaeae1;
    }
    
    header {
        background-color: #000000;
        color: #ffffff;
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 80px;
        padding: 0;
        z-index: 999;
    }
    
    header h1 {
        margin: 0px auto;
    }
    
    header nav {
        position: relative;
        bottom: 0px;
        margin-top: 0;
        padding: 0;
        width: auto;
        height: 50%;
    }
    
    header nav .dropdown {
        position: relative;
        display: inline-block;
        /*height: 100%;*/
        width: 15%;
    }
    
    .dropdown ul {
        width: 200%;
    }
    
    .menu-header {
        height: 100%;
        font-size: 1.4em;
        font-weight: 500;
        text-align: left;
        padding: 3%;
        padding-left: 10%;
    }
    
    header nav .dropdown-content {
        display: none;
        height: 80%;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }
    
    header nav ul li {
        margin: 0;
        margin-top: 2px;
        padding: 2% 3%;
        text-align: center
    }
    
    header nav ul li:hover {
        background-color: #e0e0d1;
    }
    
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    
    div.conteudo {
        position: relative;
        top: 80px;
        z-index: 100;
    }
    
    section {
        margin: 120px 0px;
        padding: 80px 10px 60px 10px;
    }
    
    section:last-of-type {
        margin-bottom: 300px;
        padding-bottom: 200px;
    }
    
    
    table {
        margin: auto;
    }
    
    /****  Vídeos  width="420" height="315" ****/
    
    .embedded-video {
        width: 100%;
        height: 265px;
    }
    
    ul.bottom-menu {
        width: 100%;
    }
    
    ul.bottom-menu li:first-child {
        margin-left: 10%;
    }
    
    
    
    /****  Animações  ****/
    div#container-direita {
        margin-left : 0px;
    }
    
    /* fim da aéra das animações */
    
    
    footer {
        position: relative;
    }
}

@media only screen and (max-width: 400px){
    ul.bottom-menu li:first-child {
        margin-left: 5%;
    }
    
    ul.bottom-menu li a {
        padding: 14px 12px;
    }
}


@media only screen and (min-width: 501px) {
    body {
        max-height: 4000px;
    }
}
